body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.checkbox {
    transform: scale(2);
    padding: 20px;
}

.logo1 {
    color: #000;
    font-size: 80px;
    font-family: "Times New Roman", Georgia, Serif;
    text-shadow: 3px 3px 10px #AAA;
}

.logo2 {
    color: #000;
    font-size: 24px;
    font-style: italic;
    position: relative;
    top: -19px;
    left: +60px;
    font-family: "Times New Roman", Georgia, Serif;
    text-shadow: 3px 3px 10px #AAA;
}

.title {
    font-size: 200%;
    font-weight: bold;
    margin-top: 1em;
}

.display {
    display: inline-block;
    padding: 20px;
    font-size: 150%;
    background-color: #FFFFDD;
}

.message {
    padding: 10px;
    margin: 10px;
}

.thumbnail {
    height: 125 px;
    width: 125 px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

.grab {
    margin: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    /*width: 45%;*/
}

.displayMessage {
    padding-top: 10px;
    font-size: 16;
    color: black;
}

.activeTitle {
    font-size: 125%;
    background-color: #4a8e6a;
    padding: 10px;
    color: white;
}

.inactiveTitle {
    font-size: 125%;
    background-color: #ba4a4a;
    padding: 10px;
}

.activeBlock {
    background-color: #c9e0d4;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
    margin: 50px 10px 10px 10px;
}

.inactiveBlock {
    background-color: #e0c3c3;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
    margin: 50px 10px 10px 10px;
}