@page "/"
@using System.Net.Http
@inject HttpClient Http

<h1>QRSS Plus</h1>

<ul>
    <li><a href="dashboard">Dashboard</a></li>
    <li><a href="grabbers">View All Grabbers</a></li>
</ul>

@code {

}
