@inject GrabberTracker Tracker

<section>
    <h2 class="mt-5 mb-0 display-4 my-0 fw-normal">Active Grabbers</h2>

    @foreach (var grabber in Tracker.ActiveGrabbers)
    {
        <div class="d-inline-block m-2">
            <a onclick="document.getElementById('@grabber.ID').scrollIntoView({behavior:'smooth'})">
                <div class="text-muted">@grabber.ID</div>
                <div>
                    <img src="@grabber.ThumbUrls.Last()" width="150" height="100" class="border border-dark shadow">
                </div>
            </a>
        </div>
    }
</section>

@code {
    protected async override Task OnInitializedAsync()
    {
        Tracker.OnChange += StateHasChanged;
    }
}
