<section>
    <div class="border bg-light rounded p-2">

        <div class="mb-2">
            QRSS Plus is maintained by
            <a href="https://swharden.com">Scott Harden (AJ4VD)</a> and
            <a href="https://sites.google.com/view/andy-g0ftd">Andy (G0FTD)</a>
        </div>

        <div class="row">
            <div class="col-md">
                News and Updates
                <ul>
                    <li><a href="https://groups.io/g/qrssknights">Knights QRSS Mailing List</a></li>
                    <li><a href='https://swharden.com/qrss/74/'>74!, The Knights QRSS Newsletter</a></li>
                </ul>
            </div>
            <div class="col-md">
                Resources
                <ul>
                    <li>
                        <a href="https://swharden.com/blog/2020-10-03-new-age-of-qrss">
                            The
                            New Age of QRSS
                        </a>
                    </li>
                    <li>
                        <a href="https://swharden.com/blog/2020-10-03-new-age-of-qrss/#qrss-frequency-bands">
                            QRSS Frequency
                            Bands
                        </a>
                    </li>
                    <li><a href="https://groups.io/g/qrssknights/wiki">Knights QRSS WIKI</a></li>
                </ul>
            </div>
            <div class="col-md">
                QRSS Plus
                <ul>
                    <li><a href="https://github.com/swharden/qrssplus/#request-a-change">Suggest a Grabber</a></li>
                    <li><a href="https://github.com/swharden/qrssplus/#request-a-change">Request a Modification</a></li>
                </ul>
            </div>
            <div class="col-md">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Update Automatically
                    </label>
                </div>
                <div><code>Current Time: @TimeNow UTC</code></div>
                <div><code>&nbsp;Next Update: @TimeNext UTC (@Countdown)</code></div>
                <div><code>&nbsp;Last Update: @FormatDateTime(Tracker.LastUpdate) UTC</code></div>
            </div>
        </div>

    </div>
</section>

@inject GrabberTracker Tracker
@using System.Threading;

@code{
    private string TimeNow;
    private string TimeNext;
    private string Countdown;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var timer = new Timer(new TimerCallback(_ =>
        {
            Tick();
            InvokeAsync(() => { StateHasChanged(); });
        }), null, 1000, 1000);
    }

    private string FormatDateTime(DateTime dt) => $"{dt.Hour:D2}:{dt.Minute:D2}:{dt.Second:D2}";

    private void Tick()
    {
        var now = DateTime.UtcNow;
        TimeNow = FormatDateTime(now);

        var nowRoundedMinute = now - TimeSpan.FromSeconds(now.Second);
        var nowRounded = nowRoundedMinute - TimeSpan.FromMinutes(nowRoundedMinute.Minute % 10);
        var nextUpdate = nowRounded + TimeSpan.FromMinutes(5);
        if (nextUpdate < now)
            nextUpdate += TimeSpan.FromMinutes(10);

        TimeNext = FormatDateTime(nextUpdate);
        var timeLeft = nextUpdate - now;
        Countdown = $"{timeLeft.Minutes:D2}:{timeLeft.Seconds:D2}";

        if (Countdown == "00:00")
            Tracker.UpdateAsync().Wait();
    }
}