<section>
    <div class="border bg-light rounded p-2">

        <div class="mb-2">
            QRSS Plus is maintained by
            <a href="https://swharden.com">Scott Harden (AJ4VD)</a> and
            <a href="https://sites.google.com/view/andy-g0ftd">Andy (G0FTD)</a>
        </div>

        <div class="row">
            <div class="col-md">
                News and Updates
                <ul>
                    <li><a href="https://groups.io/g/qrssknights">Knights QRSS Mailing List</a></li>
                    <li><a href='https://swharden.com/qrss/74/'>74!, The Knights QRSS Newsletter</a></li>
                </ul>
            </div>
            <div class="col-md">
                Resources
                <ul>
                    <li>
                        <a href="https://swharden.com/blog/2020-10-03-new-age-of-qrss">
                            The
                            New Age of QRSS
                        </a>
                    </li>
                    <li>
                        <a href="https://swharden.com/blog/2020-10-03-new-age-of-qrss/#qrss-frequency-bands">
                            QRSS Frequency
                            Bands
                        </a>
                    </li>
                    <li><a href="https://groups.io/g/qrssknights/wiki">Knights QRSS WIKI</a></li>
                </ul>
            </div>
            <div class="col-md">
                QRSS Plus
                <ul>
                    <li><a href="https://github.com/swharden/qrssplus/#request-a-change">Suggest a Grabber</a></li>
                    <li><a href="https://github.com/swharden/qrssplus/#request-a-change">Request a Modification</a></li>
                </ul>
            </div>
            <div class="col-md">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Update Automatically
                    </label>
                </div>
                <div><code>Current Time: 6:17:23 UTC</code></div>
                <div><code>&nbsp;Next Update: 6:25:00 UTC (1:23)</code></div>
                <div><code>&nbsp;Last Update: 6:17:23 UTC</code></div>
            </div>
        </div>

    </div>
</section>